.bounce-transition {
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform-origin: top;
    overflow: hidden;
  }
  
  .open {
    max-height: 500px;
    opacity: 1;
    transform: scaleY(1) rotateX(0deg);
  }
  
  .closed {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0.9) rotateX(-10deg);
  }

  .icon-bounce{
    position: relative;
    display:"inline-block";
    transition: all 0.4s ease-in ;
    cursor: pointer;
  }
  .icon-bounce:hover {
    transform: translateY(-6px); 
    color:#006A71;
    background-color: #ff9d02;
  }

  .button-bounce{
    transition: all 0.4s ease-in ;
    cursor: pointer;
  }
  .button-bounce:hover {
    transform: translateY(-6px); 
  }